<h3>Data:</h3>
<form method="post">
  <ul class="text">
    <li><input name="name" value="{{teacher.name}}" /></li>
    <li><input name="surname" value="{{teacher.surname}}" /></li>
    <li><input name="degree" type="number" value="{{teacher.degree}}" /></li>
  </ul>
  <button type="submit">Update</button>
</form>